@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background: #dddddd ;
    margin: 0em;
    font-family: 'Rubik';
}
.wrapper{
    background: rgb(207, 58, 53) ;
    border-radius: 0em 0em 3em 3em;

}
.navbar{
    padding: 1em;
    
    nav{
        display:none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        filter: invert(100%);
        cursor: pointer;
        max-width: 2em;
        max-height: 2em;
    }


    
}


a{
    color: rgb(175, 175, 175);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em; 
}

.hero{
    text-align: left;
    padding: 0em 2em 5em;
}

h1{
color: white;
font-size: 2em;
margin: 0em 0em 5px;
}
.subhead{
color: white;
margin:0em 0em 2em 0em;
padding: 0em 20em 0em 0em;


}
.primary-cta{
    background: rgb(153, 60, 60);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
}

.info-left {
    background: white;
    margin: 9px;
    border-radius: 2em;


}


